* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

header {
  background-color: #ff6900;
  padding-block: 0.5rem;
  box-shadow: 0px 15px 10px -15px #111;
}

/*****header****/

header nav {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 2rem;
}
header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
}

header svg {
  fill: #fff;
  cursor: pointer;
}

/*****main*****/

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-block: 1rem;
  justify-content: center;
}

.card {
  width: calc(100% / 3.2);
  position: relative;
}
.card figure {
  position: relative;
}

#alter-pic {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

#alter-pic:hover {
  display: none;
}
.card figure img {
  width: 100%;
  height: 100%;
}

.card figure img:hover {
  display: hidden;
}

.card-footer h6 {
  font-weight: 100;
  text-transform: capitalize;
}
.card-footer h4 {
  font-weight: 600;
  text-transform: uppercase;
}

.card-footer .price-new {
  color: red;
  font-weight: bolder;
}
.card-footer .price-old {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 14px;
}
.card:nth-last-child(2) .price-old,
.card:last-child .price-old {
  display: none;
}

.liked-item,
.features {
  z-index: 2;
}

.liked-item {
  position: absolute;
  text-align: center;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  font-size: 30px;
  top: 0.3rem;
  right: 0;
}

#heart:hover {
  color: red;
}
.features {
  position: absolute;
  left: 0;
  bottom: 2rem;
  font-size: 14px;
}
.features span {
  padding: 3px 5px;
  color: #fff;
}
.sales {
  background-color: #ff0000;
}
.eco {
  background-color: #008000;
}

footer {
  background-color: #222222;
  color: #fff;
  padding-block: 0.5rem;
}

footer .container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #fff;
  font-size: 14px;
}

footer .info-link,
footer .social {
  display: flex;
  gap: 0.5rem;
}

/***Bonus alternate pic on hover****/
